$primary-dark: #0f1d2f;  // dark blue 
$primary-mid: #004364;   // teal 
$primary-light: #0d99c6; // light blue 
$primary-light-bright: #0cb2e7;  // light blue variant 
$primary-accent: #ffe06d;  // yellow 
$primary-white: #fefefe;   // white 

$secondary-dark: #6d6e74;   // white 
$secondary-light: #f2f2f2;   // white 
$secondary-bright: #d20e0e;   // red 
